<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CloudinaryDotNet" version="1.8.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net48" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="150.18131.0" targetFramework="net48" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net48" />
  <package id="NetOffice.Word" version="1.7.4.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
  <package id="RestSharp" version="106.6.10" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net48" />
</packages>